@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
  --background: #E4E8EC;
  --foreground: #0E0E0E;
  --surface-base: #FFFFFF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primaryBlue: #007AFF;
  --color-primaryGreen: #29A646;
  --color-secondaryGreen: #04CD98;
  --color-surface-base: var(--surface-base);
  --color-nextRed: #B13A37;
}

@media (prefers-color-scheme: dark) {
  :root {
    --surface-base: #1E1E1E;
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Open-Sans, sans-serif;
}
